* { box-sizing: border-box }
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  background: #f5f5f5;
}

img {
  width: 100%;
  max-width: 20rem;
}

.localhost,
.vending {
  /* font-family: Times, serif; */
  /* color: blue; */
}

.grid {
  /* display: grid; */
  /* background: red; */
}

.single-product.grid {
  background: green;
}

.entry {
  float: left;
  position: relative;
  width: 100%;
  max-width: 20rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
}

.entry h2,
.entry h3 {
  font-weight: normal;
}

.entry h2 {
  width: 100%;
  margin: 0.75rem 0 0.5rem;
  padding-right: 5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  color: rgb(54, 102, 224);
}

.entry h3 {
  margin: 0;
  font-size: 1.7rem;
}

.single-product .entry {
  max-width: none;
}

.qr {
  position: absolute;
  bottom: 0;
  right: 1rem;
  max-width: 5rem;
}

.single-product .qr {
  display: none;
}

.entry--image {
  width: 100%;
  height: 15rem;
}

.button--submit {
  display: inline-block;
  background: red;
  color: black;
  padding: 1rem 2rem;
  margin: 1rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.25);
  border: 1px solid black;
}
